workoutfitness-video/
.DS_Store
__pycache__
*.pt
*.png
*.jpg
*.jpeg
*.gif
*.bmp
kaggle_data/workoutfitness-video-train
kaggle_data/workoutfitness-video-val
kaggle_data/workoutfitness-video-test
penn_action/frames/*
penn_action/frames_split/*
penn_action/labels/*
penn_action/labels_split/*
deeppose/__pycache__/*
r2plus1d/r2plus1d_18_best.pth
*.zip
mediapipe/processed_data/*
mediapipe/checkpoints/*
workoutfitness-video-train
workoutfitness-video-val
workoutfitness-video-test
*.mp4
*.avi
*.mov
*.pth
COCO/annotations/
