workoutfitness-video/
.DS_Store
__pycache__
*.pth
*.pt
*.png
*.jpg
*.jpeg
*.gif
*.bmp
r2plus1d_test.py
workoutfitness-video-train
workoutfitness-video-val
workoutfitness-video-test
*.mp4
*.avi
*.mov
data_split.py
*.pth